.details {
  margin: 60px auto;
  /* margin: 60px 0px 60px 5%; */
  position: absolute;
  display: flex;
  width: 100%;
}

.row1 {
  /* border: solid 1px black; */
  width: 16.1%;
  position: relative;
  text-align: center;
  padding-top: 20px;
  /* margin-top: 80px; */
}
.row2 {
  text-align: center;
  width: 16.1%;
  position: relative;
  background-color: rgb(238, 236, 236);
  padding-top: 20px;
  min-height: 100vh;
  padding-bottom: 100px;
  /* margin-top: 80px; */
}
.head {
  height: 60px;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
