.loads {
  /* margin: 60px auto;
  left: 300px;
  position: absolute;
  text-align: center; */
}

.loads td,
th {
  border: 1px solid black;
  padding: 5px 10px;
}

.loads tr:nth-child(2n + 1) td {
  background-color: rgb(255, 255, 255);
}

.loads tr:nth-child(2n + 2) td {
  background-color: rgb(204, 204, 204);
}

.loads .students {
  margin: 0px auto;
  text-align: center;
  border-collapse: collapse;
}

.loads .imgticket {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.3s;
}
.loads .imgticket:hover {
  opacity: 0.7;
}

.MuiDialogContent-root {
  padding: 24px !important;
}

.MuiDialog-paperWidthSm {
  max-width: 100% !important;
}

.MuiButton-textPrimary {
  background-color: rgb(182, 182, 182) !important;
  color: red !important;
}
