.bar {
  height: 60px;
  width: 100%;
  align-items: center;
  position: fixed;
  background-color: rgb(228, 228, 228);
  z-index: 10;
}
.bar .allURL {
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 25% 20% 20% 20% 15%;
}

.bar a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar .divfalse {
  height: 60px;
  width: 100%;
  font-size: 100%;
  background-color: rgb(228, 228, 228);
  font-weight: bold;
  border: none;
  margin: 0 auto;
  text-decoration: none;
}

.bar .divtrue:hover,
.bar .divfalse:hover {
  background-color: rgb(207, 207, 207);
  color: white;
}
.bar a:-webkit-any-link {
  color: black;
}

.bar .divtrue {
  color: white !important;
  text-decoration: none;
  height: 60px;
  width: 100%;
  font-size: 100%;
  background-color: rgb(134, 134, 134);
  font-weight: bold;
  border: none;
  margin: 0 auto;
}

.imglogo {
  width: 150px;
  margin: 10px 50px;
}
