.addusers .divadduser {
  margin: 100px auto;
}

.addusers .divinput {
  text-align: left;
  margin: 40px auto 0px !important;
  width: 90%;
}

.addusers .btnadduser {
  width: 70%;
  height: 60px;
  color: white;
  font-weight: 700;
  margin: 40px auto !important;
  background: linear-gradient(
    #b1b3ff,
    #5754ff,
    #0003bd,
    #5754ff,
    #b1b3ff
  ) !important;
}
